{% extends 'core/base.html' %}
{% load static %}
{% block title %}D-Whale{% endblock title %}
{% block css %}<link href="{% static 'home/style.css' %}" rel="stylesheet">{% endblock css %}
{% block content %}

<section class="content">
  <h1 class="at">Community</h1>
  <div class="greet">
    <h1>Hello, Kyle!</h1>
    <p>What's new with you? Would you like to share something?</p>
  </div>


  <div class="create-post">
    <h3>Create Post</h3>
    <div class="message-container">
      <div class="icon-container"><img src="{% static 'home/images/messenger.png' %}"> </div>
      <textarea placeholder="What's up, Kyle?"></textarea>
    </div>
    <div class="create-post-container">
      <div class="image-video-container">
        <div class="flex-row">
          <div class="icon-container"><img src="{% static 'home/images/photo.png' %}"> </div>
          <span>Image</span>
        </div>
        <div class="flex-row">
          <div class="icon-container"><img src="{% static 'home/images/video.png' %}"> </div>
          <span>Video</span>
        </div>


      </div>

      <div class="primary-icon-btn">
        <img src="{% static 'home/images/paper-plane.png' %}">
        <span>Post</span>
      </div>
    </div>
  </div>

  <div class="post-container">
    <div class="header">
      <div class="user-info">
        <img class="user" src="{% static 'core/images/user-icon.jpg' %}">
        <div>
          <h3 class="name">Kyle Pagayon</h3>
          <span class="time">5 mins. ago | Public</span>
        </div>
      </div>
      <img class="dots" src="{% static 'home/images/dots.png' %}">
    </div>

    <div class="body">
      <p>Take a look at my portfolio!</p>
      <img class="post-img" src="{% static 'home/images/personal-blog.png' %}">
    </div>

    <div class="header">
    </div>
  </div>

</section>
{% endblock content %}
