{% extends 'home/base.html' %}
{% load static %}
{% block css%}<link href="{% static 'cart/style.css' %}" rel="stylesheet">{% endblock css%}
{% block title %}My Cart{% endblock title %}
{% block content %}
<section class="cart-container">
  <h1>My Cart</h1>
  {% for item in cart %}
    <div class="item-container">
      <div class="left">
        <input type="checkbox">
        <img src={{item.image_url}}>
        <div class="item-info">
          <h1 class="name">{{item.name}}</h1>
          <p>Roast: {{item.roast}}</p>
          <p>Size: {{item.size}}</p>
        </div>
      </div>

      <div class="right">
        <h1 class="price">$ {{item.price}}</h1>
        <div class="quantity-container">
          <img onclick='minus()' src="{% static 'home/images/minus.png' %}">
           <p id="quantity-counter">1</p>
          <img onclick='add()' src="{% static 'home/images/plus.png' %}">
        </div>
      </div>

    </div>
  {% endfor %}
</section>

<script src="{% static 'cart/script.js' %}"></script>
{% endblock content %}
