<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
  {% load static %}
  <link href="{% static 'home/style.css' %}" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{% static 'home/images/favicon.ico' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <div class="left">
      <img class="icon" src="{% static 'home/images/coffee-bean.png' %}">
        <a class="" href={% url 'home:index' %}>Cawpii</a>


    </div>

    <div class="right">
        <a href="#" class="user">
          <img src="{% static 'home/images/user.png' %}" >
          {% if request.user.is_authenticated %}
            <p>{{ request.user.username }}</p>
          {% endif %}
        </a>

        <a href="#">
          <img src="{% static 'home/images/shopping-bag.png' %}" >
        </a>

    </div>
  </nav>

  {% block content %}
  {% endblock content %}



</body>
</html>
