<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
  {% load static %}
  <link href="{% static 'home/style.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'home/images/favicon.ico' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <div class="left">
      <img class="icon" src="{% static 'home/images/coffee-bean.png' %}">
        <a class="" href={% url 'home:index' %}>Cawpii</a>
    </div>

    <div class="right">
      <a class="login" href="#">Login</a>
      <a class="signup" href="#">Signup</a>
    </div>
  </nav>

  {% block content %}
  {% endblock content %}



</body>
<script src="{% static 'home/script.js' %}"></script>

</html>
