{% extends 'home/base.html' %}
{% load static %}
{% block title %}Cawpii{% endblock title %}
{% block content %}
  <section>
    <div class="title">
      <img src="{% static 'home/images/coffee-beans-1.png' %}">
      <h1>Browse Our Coffee</h1>
      <img src="{% static 'home/images/coffee-beans-1.png' %}">
    </div>

    <div class="container-grid">

      <div class="items">
        <div class="filter-container">

          <div class="filter">
            <label for="filter-options">Roast :</label>
            <select id="roast-filter">
              <option value="0">All</option>
              <option value="1">Light</option>
              <option value="2">Medium</option>
              <option value="3">Dark</option>
            </select>
          </div>

          <div class="filter">
            <label for="filter-options">Size :</label>
            <select id="size-filter">
              <option value="0">All</option>
              <option value="1">12oz</option>
              <option value="2">16oz</option>
              <option value="3">32oz</option>
            </select>
          </div>

          <div class="filter">
            <label for="filter-options">Type :</label>
            <select id="coffee-type-filter">
              <option value="0">All</option>
              <option value="1">Decaffeinated</option>
              <option value="2">Easy-late</option>
              <option value="3">Flavored</option>
              <option value="4">Ground</option>
              <option value="5">Organic</option>
              <option value="6">Reserved</option>
              <option value="7">Seasonal</option>
              <option value="8">Whole Bean</option>
            </select>
          </div>

          <div class="filter">
          <label for="filter-options">Sory By :</label>
          <select onchange='filter_options()' id="filter-options" name="filter">
            <option value="featured">Featured</option>
            <option value="high-to-low">High to Low</option>
            <option value="low-to-high">Low to High</option>
          </select>
          </div>

        </div>

        <div id="item-container" class="item-container">

        </div>

      </div>
    </div>
  </section>

<script src="{% static 'home/script.js' %}"></script>
{% endblock content %}

