<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cawpii</title>
  {% load static %}
  <link href="{% static 'home/style.css' %}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <div class="left">
      <img class="icon" src="{% static 'home/images/coffee-bean.png' %}">
      <a class="" href="#">Cawpii</a>
    </div>

    <div class="right">
      <a class="login" href="#">Login</a>
      <a class="signup" href="#">Signup</a>
    </div>
  </nav>

  <section>
    <div class="title">
      <img src="{% static 'home/images/coffee-beans-1.png' %}">
      <h1>Browse Our Coffee</h1>
      <img src="{% static 'home/images/coffee-beans-1.png' %}">
    </div>

    <div class="container-grid">
      <div class="filter-container">

        <div class="filter">
          <h2>Roast</h2>
          <div class="select" id="roast-container">
            <button id="roast-all" onclick=filter_roast(0) class="active">ALL</button>
            <button id="roast-light" onclick=filter_roast(1)>Light</button>
            <button id="roast-medium" onclick=filter_roast(2)>Medium</button>
            <button id="roast-dark" onclick=filter_roast(3)>Dark</button>
          </div>
        </div>

        <div class="filter">
          <h2>Size</h2>
          <div class="select" id="size-container">
            <button onclick=filter_size(0) class="active">ALL</button>
            <button onclick=filter_size(1)>12oz</button>
            <button onclick=filter_size(2)>16oz</button>
            <button onclick=filter_size(3)>32oz</button>
          </div>
        </div>

        <div class="filter type">
          <h2>Type</h2>
          <div class="select" id="filter-coffee-container">
            <button onclick=filter_coffee_type(0) class="active">ALL</button>
            <button onclick=filter_coffee_type(1)>Decaffeinated</button>
            <button onclick=filter_coffee_type(2)>Easy-late</button>
            <button onclick=filter_coffee_type(3)>Flavored</button>
            <button  onclick=filter_coffee_type(4)>Ground</button>
            <button onclick=filter_coffee_type(5)>Organic</button>
            <button onclick=filter_coffee_type(6)>Reserved</button>
            <button onclick=filter_coffee_type(7)>Seasonal</button>
            <button onclick=filter_coffee_type(8)>Whole Bean</button>
          </div>
        </div>

      </div>

      <div class="items">
        <div class="filter-container">
          <label for="filter">Sory By - </label>
          <select id="filter" name="filter">
            <option>Featured</option>
          </select>
        </div>

        <div id="item-container" class="item-container">

        </div>

      </div>
    </div>
  </section>

</body>
  <script src="{% static 'home/script.js' %}"></script>

</html>
