{% extends 'home/base.html' %}
{% load static %}
{% block title %}Signup{% endblock title %}
{% block content %}

<section>
  <form class="auth-form">
    <h1 class="title">Cawpii</h1>
    <input type="text" placeholder="email">
    <input type="password" placeholder="password">
    <input type="password" placeholder="re-password">
    <button class="submit" type="submit">Signup</button>

    <span>Already have an account click <a href="{% url 'authentication:login' %}">here</a></span>
  </form>
</section>

{% endblock content %}
