{% extends 'home/base.html' %}
{% load static %}
{% block title %}{{product.name}}{% endblock title %}
{% block content %}
<section class="product-container">
  <img src={{product.image.url}} />
  <div class="right">
    <div class="text-container">
      <div class="name-container">
        <img src="{% static 'home/images/coffee-beans-1.png' %}">
        <h1 class="name">{{product.name}}</h1>
        <img src="{% static 'home/images/coffee-beans-1.png' %}">
      </div>

      <p class="desc">
        House Blend is available in both whole beans and ground coffee options. House Blend coffee from The Coffee Bean
        & Tea Leaf is one of our most popular coffees. To create our light roast House Blend we combine natural and
        washed Central and South American coffees. We choose our blends for brightness, flavor, and aromas that make for
        a smooth, satisfying cup of coffee that can be enjoyed all day long. House Blend is available in both whole
        beans and ground coffee options.

      </p>

      <div class="size-container">
        <h1>Size:</h1>
        <div id="size-btn-container">
          {% for size in product.size.all %}
            <button>{{size}}oz</button>
          {% endfor %}

        </div>
      </div>


      <div class="quantity-container">
        <h1>Quantity:</h1>
        <div>
          <img onclick='minus()' src="{% static 'home/images/minus.png' %}">
           <h1 id="quantity-counter">1</h1>
          <img onclick='add()' src="{% static 'home/images/plus.png' %}">
        </div>
      </div>

      <div class="price-container">
        <h1>Price:</h1>
        <div class="price">
          <span>$</span>
          <h1 id="price" > {{product.price}}</h1>
        </div>
      </div>

    </div>
    <div class="btn-container">
      <button class="buy">Buy Now</button>
      <button class="cart">Add to Cart</button>
    </div>

  </div>
</section>

<script src="{% static 'product/script.js' %}"></script>
{% endblock content %}

