:root {
  --primary: #25FFF5;
  --secondary: #0CB3DD;
  --paragraph: #868e96;
  --bg: #f1f3f5;
  --black: #132029;
  --grey: #B8BDC3;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
}

p {
  color: var(--paragraph);
}

body {
  display: flex;
  justify-content: center;
  background-color: white;
}

body section {
  margin-top: 50px;
  text-align: center;
}

body section h1 {
  margin-top: 8px;
  font-size: 3.5rem;
}


body section h1 span {
  color: var(--primary);
}


body section p {
  font-size: 1.4rem;
  max-width: 500px;
  margin: 4px auto;
  color: var(--black);
}


body section .login-signup-container {
  margin-top: 32px;
}


body section .login-signup-container a {
  display: inline-block;
  width: 110px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 8px 0;
  border-radius: 4px;
  font-size: 1.2rem;
}


body section .login-signup-container .login {
  background-color: var(--primary);
  margin-right: 16px;
}

body section .login-signup-container .signup {
  background-color: var(--secondary);
}
