:root {
  --primary: #25FFF5;
  --secondary: #0CB3DD;
  --paragraph: #868e96;
  --bg: #f1f3f5;
  --black: #132029;
  --grey: #B8BDC3;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
}

p {
  color: var(--paragraph);
}

body {
  background-color: var(--bg);
  display: grid;
  grid-template-columns: 300px 1fr;
}

header {
  display: flex;
  justify-content: end;
  gap: 16px;
  padding: 16px 24px;

}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 36px;
  height: 36px;
  background-color: white;
}

header div .user {
  width: 36px;
  height: 36px;
  border-radius: 100px;
}

.content {
  margin: 0 auto;
  max-width: 600px;
}



.sidebar {

  top: 0;
  left: 0;
  padding: 32px;
  background-color: white;
  height: 90vh;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .title-container img {
  width: 128px;
  margin-bottom: 8px;

}


.sidebar .title-container span {
  color: var(--primary);
}

.sidebar .navigation {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.sidebar .navigation a {
  width: 100%;
  border-right: 4px solid none;
  padding: 8px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--paragraph);
  text-decoration: none;
  font-weight: 500;
}


.sidebar .navigation a:hover {
  border-right: 4px solid var(--primary);
  color: var(--primary);
}

.sidebar .navigation .selected {
  border-right: 4px solid var(--primary);
  color: var(--primary);
}

.primary-icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--primary);
  padding: 12px 24px;
  color: white;
  font-weight: 500;
  border-radius: 100px;
}


.primary-icon-btn img {
  width: 16px;
  height: 16px;
  margin-top: 2px;
}
