* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --primary: #6F4E37;
  --secondary: #A67B5B;
  --black: #1E1E1E;
  --gray: #555555;
}

body {
  color: var(--black);
  background-color: white;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid var(--primary);
}

nav .left {
  display: flex;
  align-items: center;
  gap: 8px;
}

nav .left .icon {
  width: 32px;
  height: 32px;

}

nav .left a {
  color: var(--primary);
  font-weight: 600;
  font-size: 1.8rem;
  text-decoration: none;
  margin-top: 4px;
}

nav .right {
  display: flex;
  gap: 16px;
  margin-right: 8px;
  align-items: center;
}

nav .right .user {
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--black);
  text-decoration: none;
}


nav .right .cart img {
  margin-top: 6px;
}


section {
  margin: 32px;
}

section .title {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}

.container-grid {
  max-width: 1000px;
  margin: 0 auto;
}

.container-grid .filter-container .filter .select {
  display: flex;
  gap: 8px;
  margin-left: 24px;
}


.container-grid .filter-container .type .select {
  display: flex;
  flex-wrap: wrap;

}

.container-grid .filter-container .filter .select button {
  padding: 4px 8px;
  border: 1px solid var(--secondary);
  border-radius: 4px;
  background: none;
  font-size: 1.1rem;
  cursor: pointer;
}


.container-grid .filter-container .filter .select button:hover {
  background-color: var(--secondary);
}


.container-grid .filter-container .filter .select .active {
  background-color: var(--secondary);
}

.container-grid .items .filter-container {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-top: 32px;
  padding: 16px;
  border: 1px solid var(--black);
  font-weight: 600;
  margin-left: auto;
}


.container-grid .items .filter-container .filter label {
  font-size: 1.1rem;
  font-weight: 500;
}

.container-grid .items .filter-container .filter select {
  background: none;
  border: none;
  font-size: 1.1rem;
  padding: 4px;
  font-weight: 500;
}

.items .item-container {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.items .item-container .item {
  text-align: center;
  margin-left: 8px;
  border-bottom: 1px solid var(--secondary);
  text-decoration: none;
  color: var(--black);
}


.items .item-container .item .price {
  margin: 8px 0;
}


.items .item-container .item img {
  width: 100%;
}

.product-container {
  display: flex;
  justify-content: center;
}

.product-container img {
  max-width: 500px;
}

.product-container .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  border-left: 5px solid var(--primary);
  padding: 16px 32px;
}

.product-container .right .name-container {
  display: flex;
  align-items: center;
  gap: 8px;
}


.product-container .name-container img {
  width: 32px;
  height: 32px;
}


.product-container .name {
  font-size: 2rem;
  text-align: center;
}

.product-container .desc {
  margin-top: 16px;
}

.product-container .size-container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.product-container .size-container div {
  display: flex;
  gap: 16px;
  align-items: center;
}


.product-container .size-container div button {
  font-size: 1rem;
  padding: 8px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid var(--black);
}


.product-container .size-container div button:hover {
  background-color: var(--primary);
}


.product-container .size-container div .active {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.product-container .quantity-container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.product-container .quantity-container div {
  display: flex;
  gap: 16px;
  align-items: center;
}


.product-container .quantity-container img {
  width: 16px;
  height: 16px;
  border: 1px solid var(--black);
  padding: 8px;
  border-radius: 4px;
  background-color: white;
}


.product-container .quantity-container img:hover {
  background-color: var(--primary);
}

.product-container .price-container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.product-container .price-container .price span {
  font-size: 1.2rem;
  font-weight: 500;
}

.product-container .price-container .price {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 500;

}

.product-container .btn-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-top: 32px;
}

.product-container .btn-container button {
  padding: 8px 16px;
  width: 50%;
  font-weight: 500;
  font-size: 1.1rem;

}


.product-container .btn-container .cart {
  background-color: var(--primary);
  border: 3px solid var(--primary);

}

.product-container .btn-container .buy {
  background-color: white;
  border: 3px solid var(--black);
}

.auth-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 64px auto;
}

.auth-form .title {
  font-size: 2rem;
  margin-bottom: 32px;
}

.auth-form input {
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 4px;
}

.auth-form .submit {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: var(--primary);
  font-weight: 600;
  border-radius: 4px;
}

.auth-form span {
  text-align: center;
  margin-top: 16px;
}
