<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome To My Blog</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  </head>
  <body>
    {% include "home/navbar.html" %}
    <section class="hero is-primary is-medium">
      <div class="hero-body is-flex is-justify-content-center is-align-content-center">
          <div>
            <h1 class="title is-1">Welcome To My Blog</h1>
            <p class="subtitle is-small mt-4" style="max-width:550px;">My name is Kyle Pagayon. I am currently 22 years old right now. My hobbies are programming and electronics and I also like tofu and bean sprouts. I created this blog site to put all of the projects I made such websites, games, electronics. I wan't to become a computer engineer I hope i could graduate and have my dream job. </p>
            <button class="button is-link">Get Started</button>
          </div>
            <div class="ml-4">
            <figure class="image">
            <img class="is-rounded"
              style="width:250px;height:250px;"
              src="{% static 'home/images/cool-arona.jpg' %}" />

            </figure>
          </div>

        </div>


      </div>

    </section>


  
  </body>
</html>
