<nav class="navbar has-dropshadow py-2" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <h1 class="title is-5">Kyle Pagayon</h1>


    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  
    <div class="navbar-end">
      <div class="navbar-item has-text-weight-semibold">
        <div class="navbar-item has-dropdown is-hoverable">

          <a class="navbar-link" style="color:#FF8CB2;" href="#">
            My Projects
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              Python
            </a>
            <a class="navbar-item">
              Web Development
            </a>
            <a class="navbar-item">
              Games Development
            </a>
            <a class="navbar-item">
              Arduino
            </a>
          </div>
      </div>

        <a class="navbar-item" style="color:#4697E8;" href="#">Socials</a>
        <a class="navbar-item" style="color:#FE8B81;" href="#">About Me</a>
      </div>
    </div>
</nav>
