<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <title>{% block title %}{% endblock title %}</title>
  <link rel="icon" type="image/x-icon" href="{% static 'core/images/favicon.ico' %}">
  <link href="{% static 'core/style.css' %}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

  {% block css %}{% endblock css %}
</head>

<body>
  {% include 'core/sidebar.html' %}
  <section>
    <header>
      <div><img src="{% static 'core/images/search.png' %}"></div>
      <div><img src="{% static 'core/images/bell.png' %}"></div>
        <a href="{% url 'dashboard:dashboard' %}">
          {% if profile.profile.url != "" %}
          <img class="user" src="{{profile.profile.url}}">
          {% else %}
            <img class="user" src="{% static 'core/images/user-icon.png' %}">
          {% endif %}
        </a>
    </header>
    {% block content %}{% endblock content %}
  </section>

</body>

  {% include 'core/modal.html' %}
{% block script %}{% endblock script %}

</html>
