{% load static %}
{% block css %}
<link href="{% static 'core/style.css' %}" rel="stylesheet">{% endblock css %}
<nav class="sidebar">
  <div>
    <div class="title-container">
      <img src="{% static 'core/images/arona-whale.png' %}">
      <h1>Welcome to <span>D-Whale</span></h1>
      <p>(Name subject to change)</p>
    </div>

  <div class="navigation">
    <a 
      onmouseover='nav_mouse_over("dashboard")'
      onmouseleave='nav_mouse_leave("dashboard")'
      href="#">
      <img id="dashboard-icon" src="{% static 'core/images/dashboard.png' %}">
      Dashboard
    </a>

    <a
      onmouseover='nav_mouse_over("community")'
      onmouseleave='nav_mouse_leave("community", true)'
      href="#"
      class="selected">
      <img id="community-icon" src="{% static 'core/images/selected-community.png' %}">
      Community
    </a>

    <a
      onmouseover='nav_mouse_over("chat")'
      onmouseleave='nav_mouse_leave("chat")'
      'href="#">
      <img id="chat-icon" src="{% static 'core/images/bubble-chat.png' %}">
      Chat
    </a>

    <a
      onmouseover='nav_mouse_over("settings")'
      onmouseleave='nav_mouse_leave("settings")'
      href="#">
      <img id="settings-icon" src="{% static 'core/images/settings.png' %}">
      Settings
    </a>
  </div>
  </div>

  <div class="primary-icon-btn">
    <img src="{% static 'home/images/paper-plane.png' %}">
    <span>Create a post</span>
  </div>
</nav>
<script src="{% static 'core/script.js' %}"></script>
